body{
    margin: 0px;
}


.header{
    padding: 0px;
    font-size: 65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.landing{
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 223, 226);
}

.flower{
    width: 400px;
}

.button{
    padding: 10px 20px;
    background-color: rgb(238, 47, 142);
    color: aliceblue;
    border: none;
    border-radius: 5px;
}

.paragraph{
    border-color: rgb(226, 216, 216);
    
}

.one{
    background-color: pink;
    border-radius: 50% 50% 0 0 ;
    padding: 50px 50px 0px 50px;
    width: 250px;
}

.two{
    background-color: rgb(114, 229, 229);
    border-radius: 50% 50% 0 0 ;
    padding: 50px 50px 0px 50px;
    width: 230px;
    
}

.three{
    background-color: rgb(90, 182, 151);
    border-radius: 50% 50% 0 0 ;
    padding: 50px 50px 0px 50px;
    width: 350px;
    
}

.headingtwo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Paratwo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px;
    
}

.imageblock{
    margin-bottom: 200px ;
}


.text-one{
    position: absolute;
    left: 220px; 
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text-two{
    position: absolute;
    left: 600px; 
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-three{
    position: absolute;
    left: 1050px; 
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sec{
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 223, 226);
}
.Sectwoimg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(239, 236, 236);
    padding: 100px;
    
}

.Sectiontwo{
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;

}

.sec-one{
    height: 70px;
    
}

.delivery{
    position: absolute;
    top: 1400px;
    left: 310px;
}

.fresh{
    position: absolute;
    top: 1400px;
    left: 620px;

}

.support{
    position: absolute;
    top: 1400px;
    left: 940px;

}

.sale{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    background-color: rgb(241, 208, 214);
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
    padding-right: 0px;
}

.button_two{
    padding: 10px 20px;
    background-color: rgb(238, 47, 142);
    color: aliceblue;
    border: none;
    border-radius: 5px;

}

.instagram{
    margin-bottom: 200px;
}

.insta_text{
    text-align: center;

}

.insta_para{
    font-size: small;
}

.five-flower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    
    
}

.last_pics{
    width: 220px;
    
}

.last{
    margin-top: 10px;
    margin-left: 230px;
    background-image: url("Flower Asset/Rectangle 9.png");
    padding: 100px;
    text-align: center;
    align-items: center;
    width: 775px;
    

}


.conclusion{
    margin-top: 50px;
    background-color: black;
    padding: 50px;
}
.flowershop{
    color: rgb(247, 90, 90);
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.last_para{
    color: aliceblue;
    text-align: center;
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.all_rights{
    color: rgb(138, 103, 103);
    text-align: center;
    font-size: 10px;
}

#email {
    width: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: aliceblue;
  }

  .subscribe{
    padding: 10px 20px;
    background-color: rgb(197, 40, 119);
    color: aliceblue;
    border: none;
    border-radius: 5px;
  }